// slick-overflow
.slick-overflow {
  overflow: hidden;
  .slick-slider {
    .slick-list {
      overflow: visible;
    }
  }
}
// TEXT OVERFLOW CSS
.text-truncate {
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.text-truncate2 {
  -webkit-line-clamp: 2;
}
.text-truncate3 {
  -webkit-line-clamp: 3;
}
.text-truncate4 {
  -webkit-line-clamp: 4;
}
.text-truncate5 {
  -webkit-line-clamp: 5;
}
.text-truncate6 {
  -webkit-line-clamp: 6;
}
.text-truncate8 {
  -webkit-line-clamp: 8;
}
// CONTAINER AND ROW CSS
.container {
  max-width: 1440px;
  padding-left: 62px;
  padding-right: 62px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.row>* {
  padding-left: 0;
  padding-right: 0;
}
.rowX {
  margin-left: 8.5px;
  margin-right: 8.5px;
}
.rowX>* {
  padding-left: 8.5px;
  padding-right: 8.5px;
}
.row-menu {
  margin-left: 3.5px;
  margin-right: 3.5px;
}
.row-menu>* {
  padding-left: 3.5px;
  padding-right: 3.5px;
}
.text-truncate-none{
  @include media-breakpoint-down(lg) {
    text-overflow: initial !important;
    -webkit-line-clamp: initial !important;
  }
}