.fontX{
    font-size:$fontX;
}

.fontS{
    font-size:$fontS;
}

.fontM{
    font-size:$fontM;
}

.fontL{
    font-size:$fontL;
}

.fontXX{
    font-size:$fontXX;
}

.fontXS{
    font-size:$fontXS;
}

.fontXM{
    font-size:$fontXM;
}

.fontXL{
    font-size:$fontXL;
}

.fontSX{
    font-size:$fontSX;
}

.fontSS{
    font-size:$fontSS;
}

.fontSM{
    font-size:$fontSM;
}

.fontSL{
    font-size:$fontSL;
}

.fontMX{
    font-size:$fontMX;
}

.fontMS{
    font-size:$fontMS;
}

.fontMM{
    font-size:$fontMM;
}

.fontML{
    font-size:$fontML;
}

.fontLX{
    font-size:$fontLX;
}

.fontLS{
    font-size:$fontLS;
}

.fontLM{
    font-size:$fontLM;
}

.fontLL{
    font-size:$fontLL;
}

.fontXXX{
    font-size:$fontXXX;
}

.fontXXS{
    font-size:$fontXXS;
}

.fontXXM{
    font-size:$fontXXM;
}

.fontXXL{
    font-size:$fontXXL;
}

.fontSSX{
    font-size:$fontSSX;
}
.fontSSS{
    font-size:$fontSSS;
}
.fontSSM{
    font-size:$fontSSM;
}
.fontSSL{
    font-size:$fontSSL;
}
.fontMMX{
    font-size:$fontMMX;
}
.fontMMS{
    font-size:$fontMMS;
}
.fontMMM{
    font-size:$fontMMM;
}


// color

.bgprimary{
    background-color:$primary; 
}
.bglightPrimary{
    background-color:$lightPrimary; 
}
.bgtomato{
    background-color:$tomato; 
}
.bglightTomato{
    background-color:$lightTomato; 
}
.bgorange{
    background-color:$orange; 
}
.bglightOrange{
    background-color:$lightOrange; 
}

// text color

.textprimary{
   color:$primary; 
}
.textlightPrimary{
   color:$lightPrimary; 
}
.texttomato{
   color:$tomato; 
}
.textlightTomato{
   color:$lightTomato; 
}
.textorange{
   color:$orange; 
}
.textlightOrange{
   color:$lightOrange; 
}

// line height

.leadingX{
    line-height:$leadingX;
}
.leadingS{
    line-height:$leadingS;
}
.leadingM{
    line-height:$leadingM;
}
.leadingL{
    line-height:$leadingL;
}
.leadingXX{
    line-height:$leadingXX;
}
.leadingXS{
    line-height:$leadingXS;
}
.leadingXM{
    line-height:$leadingXM;
}

// Border Radius
.primaryRadius{
    border-radius:$primaryRadius;
}
.secondaryRadius{
    border-radius:$secondaryRadius;
}
.mediumRadius{
    border-radius:$mediumRadius;
}
.customRadius{
    border-radius:$customRadius;
}
.largeRadius{
    border-radius:$largeRadius;
}
// Letter Spacing

.space-X{
    letter-spacing:$space-X;
}