.who-we-are-canvas{
    width: 859px !important;
    .offcanvas-body{
        padding:140px 113px 50px 94px;
        .close-svg-btn{
            top:58px;
            right:57px;
        }
        .who-canvas-img{
            height: 418px;

        }
    }
}