.product-slider-home{
    .slick-list{
        margin:0 -8px;
        @include media-breakpoint-down(lg) {
            overflow: visible;
        }
    }
    .slick-slide{
        padding:0 8px;
    }
}


.slider-range{
    .slick-list{
        margin:0 -7.5px;
        @include media-breakpoint-down(lg) {
            overflow: visible;
        }
        
        .slick-slide{
            padding:0 7.5px;
        }
    }
}

.logo-slider{
    .slick-list{
        overflow: visible;
    }
}

.blog-slider{
    .slick-list{
        margin:0 -6px;
        overflow: visible;
        .slick-slide{
            padding:0 6px;
        }
    } 
}

.gyo-kit-slider{
    .slick-list{
        margin-left:-46px;
        @include media-breakpoint-down(lg) {
            overflow: visible;
            margin-left:0;
        }
        
        .slick-slide{
            padding-left:46px;
        @include media-breakpoint-down(lg) {
            padding-left:0;
            a{
                border-right:none !important;
            }
        }
        }
    }
}


.delivery-month-slider{
    .slick-list{
        @include media-breakpoint-down(lg) {
            overflow: visible;
        }
    }
    .slick-slide{
        text-align: center;
     
    }
}

.gallery-slider-custom{
    .slick-list{
        margin:0 -10px;
        .slick-slide{
            padding:0 10px;
        }
    } 
}

.seeds-slider{
    .slick-list{
        @include media-breakpoint-down(lg) {
            overflow: visible;
        }
    } 
}