header {
    z-index: 9;
    height: 120px;

    @include media-breakpoint-down(xl) {
        height: auto;
        padding: 40px 0;

        .search-res-tab {
            height: 56px;
            border-radius: 28px;
            margin: 60px 0;

            input {
                padding-left: 30px;
                padding-right: 60px;
            }
        }
    }

    &.custom-padding {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .menu-links {
        @include media-breakpoint-up(xl) {
            .row>* {
                max-width: 14.28% !important;
            }
        }
        .list-menulink {
            margin-top: 45px;
            padding-bottom: 45px;

            @include media-breakpoint-down(xl) {
                margin-top: 0;
                padding-bottom: 0px;
                margin-bottom: 30px;

                a {
                    font-size: 42px;
                    letter-spacing: -0.42px;
                }
            }

            &.hover-drop-down {
                a {
                    cursor: pointer;
                }
            }
            &:hover {
            @include media-breakpoint-up(xl) {
                .menu-sub-menu {
                    display: block !important;
                }
            }
                a {
                    svg {
                        transform: rotate(45deg);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            .menu-sub-menu {
                padding: 20px 0 60px 0;
                top: 120px;
                z-index: 9;
                @include media-breakpoint-down(xl) {
                    top:170px;
                    height:calc(100vh - 170px);
                }
                .sub-menu-links {
                    .sub-menu-link-img {
                        background-color: #F8F8F8;
                        height: 184px;
                        @include media-breakpoint-down(xl) {
                            height:160px;
                            padding:12px 0;
                        }
                    }
                }
            }
        }


    }

    .menu-btn {
        margin-left: 36px;

        @include media-breakpoint-down(xl) {

            a {

                margin-top: 20px;

                .res-text {
                    font-size: 38px;
                    letter-spacing: -0.38px;
                    margin-left: 28px;
                }
            }
        }

        button {
            width: 41px;
            height: 41px;

            span {
                width: 18px;
                height: 18px;
                line-height: 20px;
                top: -5px;
            }
        }
    }

    .custom-search-box {
        max-width: 318px;
        padding: 14px 22px 20px;
        box-shadow: 0px 3px 6px #0000000B;

        .single-pro {
            .bgProduscts-img {
                height: 47px;
                width: 47px;
                min-width: 47px;
                background-color: #f8f8f8;
            }
        }
    }


    &.transparent-header {
        .white-logo {
            display: block !important;
        }

        .text {
            color: $primary;
        }

        .search-box {
            &::placeholder {
                color: $primary;
            }
        }

        .custom-search-box {
            button {
                svg {
                    path {
                        fill: $primary;
                    }
                }
            }

        }

        .menu-links {
            li {
                .main-menu-link {
                    color: $white;

                    text {
                        fill: $white;
                    }
                }
            }
        }

        .menu-btn {
            button {
                background-color: rgba(255, 255, 255, 0.33);

                svg {
                    path {
                        fill: $white;
                    }
                }

                span {
                    background-color: $primary;
                    color: $lightPrimary;
                }
            }
        }

        .burgur-menu {
            svg {
                path {
                    fill: $white;
                }
            }
        }

        .search-res-tab {
            input {
                background-color: rgba(255, 255, 255, 0.08);

                &::placeholder {
                    color: $primary;
                }
            }
        }
    }

    &.primary-header {
        .primary-logo {
            display: block !important;
        }

        .text {
            color: $primary;
        }

        .search-box {
            &::placeholder {
                color: $primary;
            }
        }

        .custom-search-box {
            button {
                svg {
                    path {
                        fill: $primary;
                    }
                }
            }
        }

        .menu-links {
            li {
                .main-menu-link {
                    color: $primary;

                    text {
                        fill: $primary;
                    }
                }
            }
        }

        .menu-btn {
            button {
                background-color: rgba(17, 64, 72, 0.08);

                svg {
                    path {
                        fill: $primary;
                    }
                }

                span {
                    background-color: $primary;
                    color: $lightPrimary;
                }
            }
        }

        .burgur-menu {
            svg {
                path {
                    fill: $primary;
                }
            }
        }

        .search-res-tab {
            input {
                background-color: rgba(17, 64, 72, 0.08);

                &::placeholder {
                    color: $primary;
                }
            }
        }
    }

    &.tomato-header {
        .tomato-logo {
            display: block !important;
        }

        .text {
            color: $tomato;
        }

        .search-box {
            &::placeholder {
                color: $tomato;
            }
        }

        .custom-search-box {
            button {
                svg {
                    path {
                        fill: $tomato;
                    }
                }
            }
        }

        .menu-links {
            li {
                .main-menu-link {
                    color: $tomato;

                    text {
                        fill: $tomato;
                    }
                }
            }
        }

        .menu-btn {
            button {
                background-color: rgba(220, 107, 80, 0.10);

                svg {
                    path {
                        fill: $tomato;
                    }
                }

                span {
                    background-color: $tomato;
                    color: $lightTomato;
                }
            }
        }

        .burgur-menu {
            svg {
                path {
                    fill: $tomato;
                }
            }
        }

        .search-res-tab {
            input {
                background-color: rgba(220, 107, 80, 0.08);

                &::placeholder {
                    color: $tomato;
                }
            }
        }
    }

    &.orange-header {
        .orange-logo {
            display: block !important;
        }

        .text {
            color: $orange;
        }

        .search-box {
            &::placeholder {
                color: $orange;
            }
        }

        .custom-search-box {
            button {
                svg {
                    path {
                        fill: $orange;
                    }
                }
            }
        }

        .menu-links {
            li {
                .main-menu-link {
                    color: $orange;

                    text {
                        fill: $orange;
                    }
                }
            }
        }

        .menu-btn {
            button {
                background-color: rgba(233, 145, 47, 0.10);

                svg {
                    path {
                        fill: $orange;
                    }
                }

                span {
                    background-color: $orange;
                    color: $lightOrange;
                }
            }
        }

        .burgur-menu {
            svg {
                path {
                    fill: $orange;
                }
            }
        }

        .search-res-tab {
            input {
                background-color: rgba(233, 145, 47, 0.08);

                &::placeholder {
                    color: $orange;
                }
            }
        }
    }

    &.lightPrimary-header {
        .lightPrimary-logo {
            display: block !important;
        }

        .text {
            color: $primary;
        }

        .search-box {
            &::placeholder {
                color: $primary;
            }
        }

        .custom-search-box {
            button {
                svg {
                    path {
                        fill: $primary;
                    }
                }
            }
        }

        .menu-links {
            li {
                .main-menu-link {
                    color: $lightPrimary;

                    text {
                        fill: $lightPrimary;
                    }
                }
            }
        }

        .menu-btn {
            button {
                background-color: rgba(210, 232, 223, 0.10);

                svg {
                    path {
                        fill: $lightPrimary;
                    }
                }

                span {
                    background-color: $lightPrimary;
                    color: $primary;
                }
            }
        }

        .burgur-menu {
            svg {
                path {
                    fill: $lightPrimary;
                }
            }
        }

        .search-res-tab {
            input {
                background-color: rgba(17, 64, 72, 0.08);

                &::placeholder {
                    color: $primary;
                }
            }
        }
    }

    &.header-fixed {
        background-color: $white !important;
        box-shadow: 0px 3px 6px #00000010;
        transition: all 0.3s ease-in-out;

        &.transparent-header {
            .primary-logo {
                display: block !important;
            }

            .white-logo {
                display: none !important;
            }

            .menu-links {
                li {
                    .main-menu-link {
                        color: $primary !important;

                        text {
                            fill: $primary;
                        }
                    }
                }
            }

            .menu-btn {
                button {
                    background-color: rgba(17, 64, 72, 0.08);

                    svg {
                        path {
                            fill: $primary !important;
                        }
                    }

                    span {
                        background-color: $primary;
                        color: $lightPrimary;
                    }
                }
            }

            .burgur-menu {
                svg {
                    path {
                        fill: $primary !important;
                    }
                }
            }
        }

        &.lightPrimary-header {
            .primary-logo {
                display: block !important;
            }

            .lightPrimary-logo {
                display: none !important;
            }

            .menu-links {
                li {
                    .main-menu-link {
                        color: $primary !important;

                        svg {
                            fill: $primary;
                        }
                    }
                }
            }

            .menu-btn {
                button {
                    background-color: rgba(17, 64, 72, 0.08);

                    svg {
                        text {
                            fill: $primary !important;
                        }
                    }

                    span {
                        background-color: $primary;
                        color: $lightPrimary;
                    }
                }
            }

            .burgur-menu {
                svg {
                    path {
                        fill: $primary !important;
                    }
                }
            }
        }

        &.primary-header {
            .burgur-menu {
                svg {
                    path {
                        fill: $primary !important;
                    }
                }
            }
        }

        &.tomato-header {
            .burgur-menu {
                svg {
                    path {
                        fill: $tomato !important;
                    }
                }
            }
        }

        &.orange-header {
            .burgur-menu {
                svg {
                    path {
                        fill: $orange !important;
                    }
                }
            }
        }

    }

    &.hidden {
        transform: translateY(-150%);
        transition: all 0.3s ease-in-out;
    }

    &.header-fixed-os {
        transform: translateY(0) !important;
        transition: all 0.3s ease-in-out;
    }
}