.hero-own-cat-grass{
    padding-top:220px;

    .grow-cat-grass-img{
        height: 601px;
        margin-top:85px;
    }
}

.cat-kit-sec{
    .cat-grass-kit-sec{
        border-radius:55px;
        padding:90px 0 42px 0;
        margin-top:80px;
    }
}


.gyo-cat-grass-sec{
    padding-top:95px;
    .product-image{
        height:160px;
    }
}

.subscrption-box-sec{
    padding-top:200px;
    .subscrption-box{
        padding-top:100px;
        padding-bottom:80px;
        ul{
            li{
                margin-bottom:42px;
            }
        }
    }
}

.kits-delivery-month-sec{
    padding-top:115px;
    .pro-img{
        height:242px;
    }
}

.cat-grass-seeds-sec{
    padding-top:195px;
    .cat-grass-seeds-card{
        padding-top:105px;
        padding-bottom:75px;
        .seed-pack-img{
            height: 221px;
        }
    }
}

.grass-station-section{
    height:534px;
    margin-top:220px;
    .layer{
        opacity:0.07;
    }
}

.my-cat-grass-stations{
    padding-top:100px;
    padding-bottom:175px;
}