.search-section {
        padding-top: 245px;

        @include media-breakpoint-down(lg) {
                padding-top: 215px;
        }

        .single-main-product-card {
                margin-bottom: 78px;

                @include media-breakpoint-down(lg) {
                        margin-bottom: 50px;
                }
        }
}

.page-setion-page-search {
        padding-top: 180px;
        @include media-breakpoint-down(lg) {
                padding-top:110px;
        }
}